@inherits LayoutComponentBase

<body class="sb-nav-fixed">
    <Header/>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
          <NavMenu/>
        </div>
        <div id="layoutSidenav_content">
            @Body
          <Footer/>
        </div>
    </div>
</body>